.navbar-header {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar-logo a {
  font-family: var(--font-secundaria);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-siena-tostado);
}

.navbar-nav {
  display: flex;
  gap: 1.5rem;
}

.navbar-nav a {
  font-family: var(--font-primaria);
  font-weight: 500;
  text-decoration: none;
  color: var(--color-texto-principal);
  transition: color 0.3s ease;
  padding: 0.5rem 0;
}

.navbar-nav a:hover {
  color: var(--color-siena-tostado);
}

.navbar-cart {
  display: flex; 
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 0.5rem; 
  border-radius: 4px;
  cursor: pointer; 
  text-decoration: none; 
  color: var(--color-texto-principal);
  
  position: relative; 
  z-index: 100;
  
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-cart:hover {
  color: var(--color-siena-tostado);
}

.navbar-cart span {
  font-family: var(--font-primaria);
  font-weight: 500;
  font-size: 1rem;
}